.navbar-container {
  background-color: $black;
}

.contacts-icon {
  color: $blue-icons;
}

.contacts-content {
  color: $gray;
}

.navbar-list li span {
  color: $white;
}

.navbar-list li i {
  color: $gray;
}
